@use "../globals/mixins" as *;
@use "../globals/variables" as *;

.kudos {
  &__intro {
    margin-bottom: 3rem;

    a {
      display: inline-block;
      border-bottom: 1px solid transparent;
      @include transition($on: all);

      &:hover {
        color: var(--font);
        border-bottom-color: var(--font);
      }
    }
  }

  &__content {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }

  &__item {
    padding: 2rem;
    box-shadow: 0 3px 6px rgb(0 0 0 / 15%);
    border: 1px solid var(--font-light);
  }

  &__quote {
    position: relative;
    font-style: italic;
    line-height: 1.6;
    flex: 1;

    &-mark {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      font-size: 4rem;
      line-height: 1;
    }

    &-text {
      display: inline-block;
      padding-top: 3.5rem;
    }
  }

  &__date {
    font-size: 90%;
    color: var(--font-light);
  }
}
